$navbar-height: 4.75rem;
$navbar-item-img-max-height: 60px;

@import "theme/_main";

// You can add additional styling here
.contact .media-list {
  img {
    width: 128px;
    height: 128px;
    border-radius: 64px;
  }
}

.gbif-occurrenceSearchLayout {
  height: calc(100vh - 76px)!important; /* I'm afraid you need !important because the height is inline styling and hence have a higher specificity */
}